@import "styles/colors";
@import "styles/mixins";

.wrapper {
  background: #101215;
  overflow: hidden;
  .container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    flex-direction: column;
    max-width: 1280px;
    gap: 20px;
    @include mediaQuery(xl) {
      padding: 100px 40px 0 99px;
      flex-direction: row;
      align-items: flex-start;
    }
    .intro {
      display: flex;
      flex-direction: column;
      gap: 37px;
      .title {
        p {
          color: $green;
          font-size: 16px;
          font-weight: 700;
        }
        h1 {
          color: #fff;
          font-weight: 700;
          font-size: 28px;
        }
      }
      ul {
        margin-left: 20px;
        li {
          font-size: 16px;
          color: #fff;
          line-height: 30px;
        }
      }
    }
    .wheel {
      display: flex;
      background: no-repeat top url("/images/wheel.png");
      background-size: contain;
      max-width: 600px;
      width: 100%;
      height: 600px;
    }
  }
}
