@import "styles/colors";
@import "styles/mixins";

.container {
  color: #fff;
  .inputs {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 40px;
    margin-top: 40px;
  }
}
