.wrapper {
  background: no-repeat url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .wheelContainer {
    display: flex;
    justify-content: center;
  }
}
