@mixin mediaQuery($size) {
  @if $size == xs {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == s {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == m {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == l {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin titleContainer {
  p {
    color: $green;
    font-size: 16px;
    font-weight: 700;
  }
  h1 {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
  }
}

@mixin overlayWrapper {
  background: $overlayBackground;
  overflow: auto;
  position: fixed;
  inset: 0;
  z-index: 100;
}
